[submodule "contrib/vulkan-headers"]
	path = contrib/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = sdk-1.2.182
[submodule "contrib/spirv-cross"]
	path = contrib/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	branch = master
